@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

body {
  box-sizing: border-box;
  background: white;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
header .logo {
  padding-bottom: 10px;
  padding-top: 20px;
  width: 43.2%;
  max-width: 200px;
  max-height: 54px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 0 30px 25px;
}
footer h3 {
  font-size: 1.125rem;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  color: white;
  padding-bottom: 20px;
}
footer ul {
  color: white;
  font-weight: 400;
  list-style: none;
}
footer ul li {
  padding-bottom: 5px;
}
footer ul li .fa-utensils {
  font-size: 0.8rem;
  padding-right: 11px;
}
footer ul li .fa-handshake-angle {
  font-size: 0.6rem;
  padding-right: 11px;
}
footer ul li a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  footer {
    flex-direction: row-reverse;
    justify-content: center;
  }
  footer ul {
    display: flex;
    align-items: center;
  }
  footer ul li {
    padding-right: 40px;
  }
  footer h3 {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  footer h3 {
    padding-left: 30px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.btn {
  padding: 0.813rem 1rem 0.813rem 1rem;
  height: 50px;
  color: white;
  border-radius: 25px;
  border-style: none;
  background: linear-gradient(-8deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(0deg, #ae80e5 -5.2%, #fface8 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.btn:active {
  background: white;
  color: #9356DC;
}

.card {
  display: flex;
  flex-direction: column;
  height: 251px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.card__img {
  height: 68%;
}
.card__img img {
  object-fit: cover;
  object-position: 0% 70%;
  height: 100%;
  width: 100%;
}
.card__legend {
  position: relative;
  pointer-events: none;
}
.card__legend::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 1.38rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  pointer-events: auto;
}
.card__legend::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 1.38rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  background: linear-gradient(-8deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  opacity: 0;
  pointer-events: auto;
}
.card__legend:hover::after {
  animation: fill-heart 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes fill-heart {
  0% {
    transform: scale(0.1) translateY(-45%) translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  18% {
    transform: scale(1.1) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 0.5;
  }
  25% {
    transform: scale(1.4) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.1) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
  75% {
    transform: scale(1.3) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.1) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
}
.card__legend h3,
.card__legend p {
  margin: 0.3rem 0.8rem;
}
.card__legend h3 {
  padding-top: 1rem;
}
.card__legend p {
  font-weight: 300;
  font-size: 1.063rem;
}

h1, h2 {
  font-family: "robot", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.77rem;
}
@media screen and (min-width: 800px) {
  h1 h1, h2 h1 {
    font-size: 2rem;
  }
}

h3 {
  font-family: "robot", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #e7e7e7;
  height: 50px;
}
.location .fa-location-dot {
  padding-right: 1.063rem;
}
.location p {
  font-weight: 500;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 34px 57px 34px;
  row-gap: 10px;
  text-align: center;
  background-color: #f7f7f7;
}
.intro p {
  margin-bottom: 17px;
  font-weight: 300;
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .intro p {
    margin-top: 10px;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  padding: 48px 20px 68px 20px;
}
.steps__container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  list-style-type: none;
  counter-reset: steps;
}
.steps__container li {
  height: 72.38px;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-left: 12.5px;
  font-weight: 500;
}
.steps__container li .fa-solid {
  padding-right: 30px;
  padding-left: 35px;
  color: #7e7e7e;
}
@media screen and (min-width: 800px) {
  .steps__container li .fa-solid {
    padding-right: 10px;
    padding-left: 20px;
  }
}
.steps__container li::before {
  content: counter(steps) "";
  counter-increment: steps;
  height: 1.5rem;
  width: 1.5rem;
  display: grid;
  place-items: center;
  transform: translate(-50%, 100%);
  font-size: 14.1818px;
  font-weight: 400;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}
@media screen and (min-width: 800px) {
  .steps__container li {
    width: 100%;
  }
}
.steps__container .hightlight {
  background-color: #F5EDFF;
}
.steps__container .hightlight .fa-solid {
  color: #9356DC;
}
@media screen and (min-width: 800px) {
  .steps__container {
    flex-direction: row;
    column-gap: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .steps__container {
    column-gap: 24px;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .steps {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  padding: 54px 20px 64px 20px;
  background-color: #f7f7f7;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
@media screen and (min-width: 800px) {
  .restaurants__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}
.restaurants a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 1024px) {
  .restaurants__container {
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 8%;
  }
  .restaurants h2 {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.new {
  position: relative;
}
.new::before {
  content: "Nouveau";
  position: absolute;
  font-weight: 500;
  font-size: 0.875rem;
  color: #1b6150;
  background-color: #99E2D0;
  right: 3%;
  top: 5%;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: #FFFFFF;
  opacity: 0.9;
  z-index: 2;
  display: grid;
  place-items: center;
  transform-origin: top;
  animation: disappear 200ms 3s forwards;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
.wave {
  position: relative;
  display: block;
  color: #9356DC;
  width: 100px;
  height: 100px;
}
.wave div {
  position: relative;
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: transparent;
  border-width: 8px;
  border-radius: 50%;
  opacity: 0;
  animation: onde 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
.wave div:nth-child(1) {
  animation-delay: 0s;
}
.wave div:nth-child(2) {
  animation-delay: 0.25s;
}
.wave div:nth-child(3) {
  animation-delay: 0.5s;
}

.color2 {
  color: #FF79DA;
}

.color3 {
  color: #99E2D0;
}

@keyframes onde {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }
  70% {
    opacity: 0.5;
    transform: scale(1);
  }
  95% {
    opacity: 0;
  }
}
#menu-header header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 6 Free";
  font-weight: 900;
  content: "\f004";
  content: "\f060";
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: transform 200ms;
  position: absolute;
  color: black;
}
#menu-header header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#menu-header header a {
  text-decoration: none;
  color: inherit;
}

.banner img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.menu {
  background-color: #f7f7f7;
  padding: 2rem 0.8rem;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  position: relative;
  font-family: "Roboto", sans-serif;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
  position: relative;
  pointer-events: none;
  margin-bottom: 2rem;
}
.menu h1::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 1.38rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  pointer-events: auto;
}
.menu h1::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 1.38rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  background: linear-gradient(-8deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  opacity: 0;
  pointer-events: auto;
}
.menu h1:hover::after {
  animation: fill-heart 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes fill-heart {
  0% {
    transform: scale(0.1) translateY(-45%) translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  18% {
    transform: scale(1.1) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 0.5;
  }
  25% {
    transform: scale(1.4) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.1) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
  75% {
    transform: scale(1.3) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.1) translateY(-45%) translateZ(10px);
    filter: blur(0);
    opacity: 1;
  }
}
.menu h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  margin-bottom: 1rem;
}
.menu h2::before {
  content: "";
  background-color: #99E2D0;
  height: 0.2rem;
  width: 2.7rem;
  position: absolute;
  top: 1.8rem;
}
.menu h3 {
  line-height: 2rem;
}
.menu .menu__grid {
  display: grid;
  place-items: center;
  row-gap: 1rem;
  overflow: hidden;
  padding-bottom: 2rem;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menu .menu__grid:nth-child(1) {
  animation-delay: 100ms;
}
.menu .menu__grid:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menu__grid:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menu__grid:nth-child(4) {
  animation-delay: 400ms;
}
.menu .menu__grid:nth-child(5) {
  animation-delay: 500ms;
}
.menu .menu__grid:nth-child(6) {
  animation-delay: 600ms;
}
.menu .menu__grid:nth-child(7) {
  animation-delay: 700ms;
}
.menu .menu__grid:nth-child(8) {
  animation-delay: 800ms;
}
.menu .menu__grid:nth-child(9) {
  animation-delay: 900ms;
}
@keyframes appear {
  0% {
    transform: translatY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu .menu__grid .menu__grid__card {
  animation: appear 1s;
  animation-fill-mode: both;
  background-color: #ffffff;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 2px 4.01149px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu__grid .menu__grid__card:nth-child(1) {
  animation-delay: 100ms;
}
.menu .menu__grid .menu__grid__card:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menu__grid .menu__grid__card:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menu__grid .menu__grid__card:nth-child(4) {
  animation-delay: 400ms;
}
@keyframes appear {
  0% {
    transform: translatY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu .menu__grid .menu__grid__card .description {
  margin-right: auto;
  padding: 0.5rem 0rem 1rem 1rem;
  overflow: hidden;
}
.menu .menu__grid .menu__grid__card .description h3,
.menu .menu__grid .menu__grid__card .description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu__grid .menu__grid__card span {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  padding: 0.5rem 0.8rem 1rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu__grid .menu__grid__card .checked {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  margin-right: -4rem;
  transition: margin-right 0.5s;
  flex-shrink: 0;
}
.menu .menu__grid .menu__grid__card .checked i {
  background-color: #ffffff;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.menu .menu__grid .menu__grid__card:hover {
  cursor: pointer;
}
.menu .menu__grid .menu__grid__card:hover .checked {
  margin-right: 0;
}
.menu .menu__grid .menu__grid__card:hover i {
  animation: spin 0.5s ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menu button {
  position: relative;
  width: 50%;
  transform: translateX(50%);
}
@media screen and (min-width: 1024px) {
  .menu {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu h1 {
    text-align: center;
  }
  .menu h1::before {
    right: 34%;
  }
  .menu h1::after {
    right: 34%;
  }
  .menu button {
    width: 25%;
    transform: translateX(150%);
  }
}

/*# sourceMappingURL=style.css.map */
