@use "./variables";
@use "./animations";


@mixin gradient {
    background: linear-gradient(-8deg, variables.$colour-primary -5.2%, variables.$colour-secondary 110.74%);
}

@mixin box-shadow {box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);}

@mixin btn {
    padding: 0.813rem 1rem 0.813rem 1rem;
    height: 50px;
    color: white;
    border-radius: 25px;
    border-style: none;
    @include gradient;
    @include box-shadow;
    cursor: pointer;
    &:hover{
        background: linear-gradient(0deg, lighten(variables.$colour-primary, 10%) -5.2%, lighten(variables.$colour-secondary, 10%) 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
    &:active {
        background: white;
        color: variables.$colour-primary;
    }
}

@mixin bullet-points {
    height: 72.38px;
    background: #f7f7f7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-left: 12.5px;
    font-weight: 500;
    
    .fa-solid {
        padding-right: 30px;
        padding-left: 35px;
        color: #7e7e7e;
        @media screen and (min-width: 800px) {
            padding-right: 10px;
            padding-left: 20px;
        }
    }

    &::before {
        content: counter(steps) "";       
        counter-increment: steps;
        height: 1.5rem;
        width: 1.5rem;
        display: grid;
        place-items: center;
        transform: translate(-50%, 100%);
        font-size: 14.1818px;
        font-weight: 400;
        background-color: variables.$colour-primary;
        color: white;
        border-radius: 50%;       
    }
    @media screen and (min-width: 800px) {
        width: 100%;
    }
}

@mixin card {
    display: flex;
    flex-direction: column;

    height: 251px;

    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
  
    &__img {height: 68%;
      img {
        object-fit: cover;
        object-position: 0% 70%;
        height: 100%;
        width: 100%;
      }  
    }
  
    &__legend {       
        position: relative;
        pointer-events: none; 
        &::before {
            @include heart;
            pointer-events: auto; 
        }
        &::after {
            @include heart;
            @include gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900;
            opacity: 0;
            pointer-events: auto;    
        }
        &:hover::after{
            animation: fill-heart 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            @include animations.fill-heart;
        }

        h3,
        p {
            margin: 0.3rem 0.8rem;
        }
        h3 {
            padding-top: 1rem;
        }
        p {           
            font-weight: 300;
            font-size: 1.063rem;              
        }
    }
  }

  @mixin font-awesome($font-weight: 400) {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "font Awesome 6 Free";
    font-weight: $font-weight;
    content: "\f004";
  }

  @mixin heart {
    @include font-awesome;
    position: absolute;
    font-size: 1.38rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
  }
